@import "./reset.css";

@font-face {
  font-display: swap;
  font-family: Brachial;
  src: url("../assets/fonts/Brachial_Variable.ttf")
    format("truetype");
}

@font-face {
  font-display: swap;
  font-family: Inter;
  src: url("../assets/fonts/Inter.ttf")
    format("truetype");
}

:root {
  --avatar-max-width: 140px;
  --color-link-card: #333333;
  --color-link-card-hover: #3A3A3A;
  --color-links: #FFFFFF;
  --color-primary: #C75EFF;
  --color-primary-hover: #FFFFFF;
  --color-title: #FFFFFF;
  --color-bio: #FFFFFF;
  --font-family-header: "Brachial";
  --font-family-body: "Inter";
  --font-family-button: "Brachial";
  --border-input: #C75EFF;
  --wrapper-height: 80vh;
}


body {
  background: radial-gradient(circle at center, #4a4a4a 0%, #1a1a1a 100%);
  font-family: var(--font-family-body);
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 0.025rem;
  line-height: 1.1;
}

h1 {
  color: var(--color-title);
  display: inline-flex;
  font-family: var(--font-family-header);
  font-size: clamp(2rem, -0.875rem + 8.333vw, 3rem);
  justify-content: center;
  margin-top: 1rem;
}

h2 {
  color: var(--color-title);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  text-transform: uppercase;
}

.wrapper {
  padding: 3rem 1rem;
}

.content {
  background-color: #161616;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 650px;
  width: 100%;
}

.header {
  position: relative;
  border-radius: 16px 16px 0 0; /* Smooth top corners if inside a card card wrapper */
  overflow: hidden; 
  width: 100%;
}

.profile-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px; /* Dictates how far down the blur effect goes */
  z-index: 1;
  pointer-events: none; /* Stops users from accidentally dragging the background image */
 }

.profile-backdrop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(40px) brightness(0.7);
  transform: scale(1.1);
}



.profile-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2.5rem; /* Controls spacing from top of screen */
}

.avatar-container {
  display: flex;
  justify-content: center;
}

.avatar {
    max-width: var(--avatar-max-width);
    max-height: var(--avatar-max-width);
    margin: 1rem 0 1.5rem;
    border-radius: 50%;
}

.profile-content .bio {
  color: var(--color-bio);
  font-size: clamp(0.75rem, -0.3rem + 3vw, 1rem);
}

.social-row {
  align-items: center;
  display: flex;
  height: 10px;
  justify-content: center;
  margin-top: 4rem;
}

.social-row a:link {
  border-bottom: none;
  background: transparent;
  width: clamp(1rem, 1.325rem + 1.6667vw, 3rem);
  margin: 0 0.3rem 1.5rem;
}

.social-icon-svg path {
  fill: var(--color-primary);
}

.social-icon-svg:hover path {
  fill: var(--color-primary-hover);
}


.links-wrap {
  margin: 0.5em 3rem 2.5rem;
}

.links-wrap h2 {
  margin-top: 2rem;
}

.card-content {
  background: var(--color-link-card);
  border-radius: 6px;
  margin: 1rem auto;
}

.card-content:hover {
  background: var(--color-link-card-hover);
}

.link-card {
  color: var(--color-links);
  display: flex;
  font-size: clamp(0.75rem, -0.3rem + 3vw, 1rem);
  padding: 1.3rem;
  text-align: center;
  text-decoration: none;
}

.link-card .card-title {
  width: 100%;
}

.newsletter-wrap {
  margin: 0 3rem 2.5rem;
}

.newsletter-wrap form {
  background: var(--color-link-card);
  border-radius: 6px;
  color: var(--color-links);
  padding: 1.3rem;
}

.newsletter-form {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  width: 100%;
}

.newsletter-form input {
  border: 3px solid var(--border-input);
  border-radius: 5px;
  height: 50px;
  padding: 10px 20px;
  width: 100%;
}

.newsletter-form .btn {
  background-color: var(--color-primary);
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--color-links);
  cursor: pointer;
  font-family: var(--font-family-header);
  height: 50px;
  padding: 15px 20px;
}
