/******************************************************************************
TIP: Glitch theme displays list of links from settings.json links array

Edit / copy or create your own CSS file in public/styles/themes
Select your chosen CSS by adding the theme name (e.g. glitch) in settings.json
******************************************************************************/

/* Fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}
@font-face {
  font-family: Inter;
  src: url("/styles/fonts/Inter Regular 400.otf")
    format("opentype");
}
@font-face {
  font-family: Brachial;
  src: url("/styles/fonts/Brachial_Variable.ttf")
    format("truetype");
}



:root {
  --color-bg: #C75EFF;
  --color-bg-alt: #D7F5EF;
  --color-text-main: #000000;
  --color-primary: #AFECE0;
  --theme-color-title: #FFFFFF;
  --font-family: "Inter";
  --font-family-header: "Brachial";
  --font-family-list: "Inter", Menlo, Consolas, Monaco, "Lucida Console", monospace;
}
body {
  background: fixed linear-gradient(0deg, #2A2A2A, #1A1A1A);
}

.hr-footer {
  font-family: var(--font-family-header);
}

ul.link-list li a {
  border-radius: 6px;
  background: rgba(193,202,242,0.3);
  color: #ffffff;
  text-decoration: none;
}
ul.link-list li a:link,
ul.link-list li a:visited {
  justify-content: space-around;
  color: #ffffff;
}
ul.link-list li a:hover, ul.link-list li a:focus {
  background: var(--color-primary);
}
ul.link-list li a img {
  display: none;
}

.social-profile-icon path {
  fill: var(--color-bg);
}
.social-profile-icon path:hover {
  fill: #ffffff;
}


h1 {
  color: var(--theme-color-title);
}
