---
import '../styles/global.css';

const { 
  title = "Mitchell Jae", 
  description = "Check out my latest projects, social links, and content right here." 
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />

    <title>{title}</title>
  </head>
  <body>
    <div id="wrapper" class="wrapper">
      <div id="content" class="content">
        <slot />
      </div>
    </div>
  </body>
</html>